.red{
    color:red;
    background-color: yellow;
    text-align: center;
}
.border-blue{
    border: 5px solid blue;
}
.img-size{
    width: 200px;
    height: 200px;
}
.margin-space{
    margin-top: 40px;
    margin-left: 100px;
}
.padding-space{
    padding-top: 40px;
}
//div.new-style dic 태그가 있는 class가 new-style인 태그만 선택
div.new-style{
    color: red;
}
//div .new-style div 태그 아래에 있는 모든 자손들 중 스타일이 new-style인 태그
div .new-style{
    color: red;
}
//div>.new-style 태그 아래에 있는 자손 중 완전 direct 자손만 적용
div>.new-style{
    color: red;
}